# Virtual Environments
.venv/
env/
venv/

# Compiled files
__pycache__/
*.py[cod]
*$py.class

# Dependency & Build Artifacts
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt
dist/
build/
wheels/

# Cache & Logs
.tox/
.nox/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# IDE & Editor Files
.vscode/
.idea/
*.swp

# Environment Variables & Secrets
.env
.env.*
.pypirc
